
.git
.github
.dockerignore
Dockerfile
compose.yaml
.gitignore

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
._*

.vscode
/manuals/**
/outputs/**